# DS 3000 - Assignment 3

**Student Name**: Group 34

**Date**: 9/26/24


### Submission Instructions
Submit this `ipynb` file to canvas.

The `ipynb` format stores outputs from the last time you ran the notebook.  (When you open a notebook it has the figures and outputs of the last time you ran it too).  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh run `Kernel > Restart & Run All` just before uploading the `ipynb` file to Canvas.

### Academic Integrity

**Writing your homework is an individual effort.**  You may discuss general python problems with other students but under no circumstances should you observe another student's code which was written for this assignment, from this year or past years.  Pop into office hours or DM us in MS Teams if you have a specific question about your work or if you would like another pair of eyes or talk through your code.

Don't forget to cite websites which helped you solve a problem in a unique way.  You can do this in markdown near the code or with a simple one-line comment. You do not need to cite the official python documentation.

**Documentation / style counts for credit**  Please refer to the Pep-8 style, to improve the readability and consistency of your Python code. For more information, read the following article [How to Write Beautiful Python Code With PEP 8](https://realpython.com/python-pep8/) or ask your TA's for tips.

**NOTE:<span style='color:red'> Write python expressions to answer ALL questions below and ensure that you use the `print()` function to display the output.</span>** Each question should be answered in a new code cell. For example, your solution for question 1.1 should be in a different code cell from your solution for question 1.2.

In [148]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Question 1 — The DS Problem

In your own words, explain the Data Science problem that you were given.

## Question 2 — Prepare the Data (10 pts)

Evaluate the dataset to determine if ALL variables are represented in their expected type. Convert variables to suitable data types (if needed).
Analyze the data to determine what preprocessing steps are needed. Perform the required data preparation steps. At a minimum, ensure that you handle both missing and invalid values. Justify the approach that is taken to prepare the data for analysis.
At a high level explain what the dataset is about and provide at least three visualizations to support your explanation of DS problem from Question 1. Note: this explanation and visualizations should be relevant to the DS Problem in question 1.

In [149]:
# importing data into a dataframe
df = pd.read_csv('2019_ONTIME_REPORTING_FSW.csv')
df

,FL_DATE,CARRIER_CODE,TAIL_NUM,FL_NUM,ORIGIN,ORIGIN_ST,DEST,DEST_ST,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,ELAPSED_TIME,DISTANCE
0,2019-10-01,AA,N916NN,2311,TUS,AZ,ORD,IL,828.0,0.0,1353.0,0.0,205.0,1437
1,2019-10-01,AA,N733UW,2315,PHX,AZ,DEN,CO,1907.0,0.0,2159.0,0.0,112.0,602
2,2019-10-01,AA,N140AN,2318,DFW,TX,LAX,CA,1904.0,104.0,2016.0,101.0,192.0,1235
3,2019-10-01,AA,N925AN,2325,SNA,CA,DFW,TX,1729.0,4.0,2215.0,3.0,166.0,1205
4,2019-10-01,AA,N143AN,2328,ATL,GA,LAX,CA,656.0,0.0,841.0,0.0,285.0,1947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897498,2019-01-31,UA,N73256,209,SNA,CA,SFO,CA,750.0,0.0,911.0,0.0,81.0,372
1897499,2019-01-31,UA,N39416,208,IAD,VA,LAX,CA,1855.0,0.0,2148.0,0.0,353.0,2288
1897500,2019-01-31,UA,N17104,207,BOS,MA,SFO,CA,802.0,2.0,1128.0,0.0,386.0,2704
1897501,2019-01-31,UA,N813UA,205,SFO,CA,PDX,OR,604.0,0.0,802.0,0.0,118.0,550
1897502,2019-01-31,UA,N75861,204,ORD,IL,LAX,CA,813.0,18.0,1028.0,0.0,255.0,1744

In [150]:
# removing duplicate data rows from the dataframe
df.drop_duplicates(inplace=True)
# seeing how many rows remain in the dataframe
df.shape[0]

1897503

In [151]:
# there were no duplicate rows removed

In [152]:
# checking frequency of missing values of columns
df.isnull().sum()

FL_DATE             0
CARRIER_CODE        0
TAIL_NUM         4791
FL_NUM              0
ORIGIN              0
ORIGIN_ST           0
DEST                0
DEST_ST             0
DEP_TIME        26707
DEP_DELAY       26715
ARR_TIME        28244
ARR_DELAY       31884
ELAPSED_TIME    31884
DISTANCE            0
dtype: int64

In [153]:
# indentifying the maximum number of missing variables in a row
df.isnull().sum(axis=1).sort_values(ascending = False)

33745      6
1369812    6
1163400    6
717776     6
461086     6
          ..
636507     0
636506     0
636504     0
636503     0
1897502    0
Length: 1897503, dtype: int64

In [154]:
# There are at maximum 6 variables missing at once from a row
# looking at one of the rows where all six variables are missinig
df.loc[33745]

FL_DATE         2019-10-07
CARRIER_CODE            UA
TAIL_NUM               NaN
FL_NUM                 207
ORIGIN                 BOS
ORIGIN_ST               MA
DEST                   SFO
DEST_ST                 CA
DEP_TIME               NaN
DEP_DELAY              NaN
ARR_TIME               NaN
ARR_DELAY              NaN
ELAPSED_TIME           NaN
DISTANCE              2704
Name: 33745, dtype: object

This looks to be a widespread issue meaning that the best method to handle this missing data is deletion. I will remove all rows with NaN in the ELAPSED_TIME column as that is the highest column with the most number of variables deleted, tied with the ARR_DELAY column.

In [155]:
# should removed 31884 rows where there was a NaN value in the ELAPSED_TIME col
df = df.drop(df[df['ELAPSED_TIME'].isnull()].index)
df.shape[0]

1865619

In [156]:
# orginal number of rows minus the new number of rows should equate to 31884
1897503-1865619

31884

In [157]:
# showing data type and non-null count of each variable in the dataframe
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1865619 entries, 0 to 1897502
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   FL_DATE       1865619 non-null  object
 1   CARRIER_CODE  1865619 non-null  object
 2   TAIL_NUM      1865619 non-null  object
 3   FL_NUM        1865619 non-null  int64
 4   ORIGIN        1865619 non-null  object
 5   ORIGIN_ST     1865619 non-null  object
 6   DEST          1865619 non-null  object
 7   DEST_ST       1865619 non-null  object
 8   DEP_TIME      1865619 non-null  float64
 9   DEP_DELAY     1865619 non-null  float64
 10  ARR_TIME      1865619 non-null  float64
 11  ARR_DELAY     1865619 non-null  float64
 12  ELAPSED_TIME  1865619 non-null  float64
 13  DISTANCE      1865619 non-null  int64
dtypes: float64(5), int64(2), object(7)
memory usage: 213.5+ MB

All null rows were removed with the removal of NaN values from ELAPSED_TIME as the issue was widespread throughout the data. 

When looking at the variables represented in the dataframe, one can see that all categorical variables (CARRIER_CODE, TAIL_NUM, ORIGIN, ORIGIN_ST, DEST, DEST_ST) are already properly assigned their corrected variable type in the data frame, object. The variables DEP_TIME, DEP_DELAY, ARR_TIME, ARR_DELAY, ELAPSED_TIME are currently represented as float variables when they can actually be represented as integers variables.

In [158]:
count = 0

# checking if all variables in DEP_TIME col are ints
for i in df['DEP_TIME']:
    if i.is_integer() == False:
        count +=1
# checking if all variables in DEP_DELAY col are ints
for i in df['DEP_DELAY']:
    if i.is_integer() == False:
        count +=1
# checking if all variables in ARR_TIME col are ints
for i in df['ARR_TIME']:
    if i.is_integer() == False:
        count +=1
# checking if all variables in ARR_DELAY col are ints
for i in df['ARR_DELAY']:
    if i.is_integer() == False:
        count +=1
# checking if all variables in ELAPSED_TIME col are ints
for i in df['ELAPSED_TIME']:
    if i.is_integer() == False:
        count +=1
        
print(count)

0

Since there are no values that are not integers it is safe to convert the listed columns into integers.

In [159]:
# converting variables to their respected types
df['DEP_TIME']  = df['DEP_TIME'].astype('int')
df['DEP_DELAY']  = df['DEP_DELAY'].astype('int')
df['ARR_TIME']  = df['ARR_TIME'].astype('int')
df['ARR_DELAY']  = df['ARR_DELAY'].astype('int')
df['ELAPSED_TIME']  = df['ELAPSED_TIME'].astype('int')

In [160]:
# checking the data types to make sure they are updated 
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1865619 entries, 0 to 1897502
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   FL_DATE       1865619 non-null  object
 1   CARRIER_CODE  1865619 non-null  object
 2   TAIL_NUM      1865619 non-null  object
 3   FL_NUM        1865619 non-null  int64
 4   ORIGIN        1865619 non-null  object
 5   ORIGIN_ST     1865619 non-null  object
 6   DEST          1865619 non-null  object
 7   DEST_ST       1865619 non-null  object
 8   DEP_TIME      1865619 non-null  int64
 9   DEP_DELAY     1865619 non-null  int64
 10  ARR_TIME      1865619 non-null  int64
 11  ARR_DELAY     1865619 non-null  int64
 12  ELAPSED_TIME  1865619 non-null  int64
 13  DISTANCE      1865619 non-null  int64
dtypes: int64(7), object(7)
memory usage: 213.5+ MB

The last data type to be addressed is the first column, the FL_DATE column. This column would best be represented by being represented as a DateTime variable in the data frame. This is a quick fix which will be taken care of in the following code.

In [161]:
# convert 'FL_DATE' to datetime
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [162]:
# checking the data types to make sure they are updated 
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1865619 entries, 0 to 1897502
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   FL_DATE       1865619 non-null  datetime64[ns]
 1   CARRIER_CODE  1865619 non-null  object
 2   TAIL_NUM      1865619 non-null  object
 3   FL_NUM        1865619 non-null  int64
 4   ORIGIN        1865619 non-null  object
 5   ORIGIN_ST     1865619 non-null  object
 6   DEST          1865619 non-null  object
 7   DEST_ST       1865619 non-null  object
 8   DEP_TIME      1865619 non-null  int64
 9   DEP_DELAY     1865619 non-null  int64
 10  ARR_TIME      1865619 non-null  int64
 11  ARR_DELAY     1865619 non-null  int64
 12  ELAPSED_TIME  1865619 non-null  int64
 13  DISTANCE      1865619 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(6)
memory usage: 213.5+ MB

All of the variables have been updated to their correct types and missing data has been handled. It is now time to look for invalid data.

In [163]:
# showing summary stats of all rows
df.describe(include='all')

,FL_DATE,CARRIER_CODE,TAIL_NUM,FL_NUM,ORIGIN,ORIGIN_ST,DEST,DEST_ST,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,ELAPSED_TIME,DISTANCE
count,1865619,1865619,1865619,1.865619e+06,1865619,1865619,1865619,1865619,1.865619e+06,1.865619e+06,1.865619e+06,1.865619e+06,1.865619e+06,1.865619e+06
unique,NaN,15,4885,NaN,152,43,152,43,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,WN,N706SK,NaN,LAX,CA,LAX,CA,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,543773,1734,NaN,216481,798690,216677,799137,NaN,NaN,NaN,NaN,NaN,NaN
mean,2019-07-03 20:16:14.050972416,NaN,NaN,2.043568e+03,NaN,NaN,NaN,NaN,1.341387e+03,1.311567e+01,1.470208e+03,1.272357e+01,1.748096e+02,1.146858e+03
min,2019-01-01 00:00:00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.600000e+01,6.600000e+01
25%,2019-04-05 00:00:00,NaN,NaN,7.020000e+02,NaN,NaN,NaN,NaN,9.130000e+02,0.000000e+00,1.050000e+03,0.000000e+00,9.400000e+01,4.510000e+02
50%,2019-07-05 00:00:00,NaN,NaN,1.633000e+03,NaN,NaN,NaN,NaN,1.326000e+03,0.000000e+00,1.518000e+03,0.000000e+00,1.530000e+02,9.540000e+02
75%,2019-10-02 00:00:00,NaN,NaN,2.710000e+03,NaN,NaN,NaN,NaN,1.757000e+03,8.000000e+00,1.936000e+03,7.000000e+00,2.440000e+02,1.744000e+03
max,2019-12-31 00:00:00,NaN,NaN,7.910000e+03,NaN,NaN,NaN,NaN,2.400000e+03,2.315000e+03,2.400000e+03,2.350000e+03,5.520000e+02,2.979000e+03
std,NaN,NaN,NaN,1.675336e+03,NaN,NaN,NaN,NaN,5.190519e+02,4.355925e+01,5.591303e+02,4.306495e+01,9.273539e+01,7.564241e+02

In [164]:
# list of states to check against
valid_states = ['CA', 'NV', 'AZ']

# check if values in columns ORIGIN_ST OR DEST_ST are in  valid_states list
df['CHECKING_ST'] = df['ORIGIN_ST'].isin(valid_states) | df['DEST_ST'].isin(valid_states)
df['CHECKING_ST'].value_counts()

CHECKING_ST
True    1865619
Name: count, dtype: int64

In [165]:
# each flight in the data either took off or left from one of the states ['CA', 'NV', 'AZ']

In [167]:
# checking if any flights left and landed at the same airport
count = (df['ORIGIN'] == df['DEST']).sum()
print(count)

0

In [168]:
# no flights left and landed at the same airport

## Question 3 — (20 points)

Explore patterns in the region i.e. the 3 states (AZ, NV, CA). Determine which region has the most air traffic. Comment on your findings and visualize the results. Note: it's important to explain your rational for determining what is "the most air traffic". For example, are you evaluating the frequency of flights or total flight time. Justify your response.
For each region i.e. the 3 states (AZ, NV, CA), analyze the most popular outbound/destination airports. For example, if a flight originated in CA (at any of its airports), where do they often go? Comment on your findings and visualize the results for the top 5 destinations.
For each region, calculate the proportion* of flights from each airline/operator. Visualize the top 10 results. Explain the results.
*Hint: Don't forget that proportion is an explicit requirement.

## Question 4 — (20 points)

Explore the carriers within the dataset and demonstrate at least TWO (2) patterns that you identified.
Analyze the minimum, maximum and average arrival and departure delays for each Airline/Carrier. Visualize the top 10 results. Explain the patterns in the delays and demonstrate: 1) which carriers are more prone to flight delays and 2) are the delays occurring more frequently in certain regions**?
**Tip: it is important to analyze the airlines across multiple airports and/or regions in order to conclude that they have a pattern of being late.

## Question 5 — (30 points)

Evaluate which airlines have the best performance in the region. Display the top 10 airlines.
Note: it's important to explain your rational for determining "the best performance".
For each airline, ensure that you calculate their total flight hours for each month. Explain and visualize the results for the top 10 airlines. 
Hint: the total flight hours is not equivalent to the frequency of flights, and ensure that you display the total hours and not the total minutes.

## Question 6 — (20 points)

Select any THREE (3) aircraft***, and explore the data to analyze the following for each aircraft:

Indicate which airline operates the selected aircraft and where it often travels.
Arrival and departure delays at the airports where it traveled.
Create summary statistics on the distance traveled.
Analyze all the results in 6.1-6.3 to identify any patterns that are evident. Explain your findings and visualize ALL results.
***Note: the TAIL_NUM can help you to identify each unique aircraft.
 

Question 6 — Summary

Summarize the overall analysis and share THREE (3) key findings.

## Helpful resources 
Don't forget to cite websites which helped you solve a problem in a unique way.  You can do this in markdown near the code or with a simple one-line comment inside the code cell, or you can list them below. 

You do not need to cite the official python documentation.